.recipe {
    margin: 5px;
    border: light;
    border-radius: 5%;
    overflow: hidden;
    
}

.recipeHeader {
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: 12px;
}

.recipeDescription {
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    margin-top: 10px;
}

.recipeDescriptionCollapsed {
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 12px;
    margin-top: 10px;
}